/* links for HTML is pushed to right of page in nav bar */
nav {
    text-align: right;
}

/* grabs any a tags from under the nav bar */
nav > a {
    text-decoration: none;
    color: black;
}

/* change background for saved.html to a reverse image of main */
body {
    background-image: url(../imgs/background-right.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 58px;
    font-family: 'Permanent Marker', cursive;
}

p {
    text-align: center;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:red;
}

#saved-food {
    background-color: rgb(161, 207, 88);
    padding: 20px;
}

#saved-drinks {
    background-color: aqua;
    padding: 20px;
}

#saved-food > li {
    /* background-color: white; */
    list-style-type: upper-roman;
    /* margin: 5px; */
    text-align: center;
}

#saved-drinks > li {
    /* background-color: white; */
    list-style-type:upper-roman;
    text-align: center;
}

