:root {
    --green: #A4C888; 



}

.green-btn {

    background-color: var(--green);
    
}

button {
    width: 200px;
    margin-left: 20px;

}

input[type = text] {

    background-color: #C7BEBE;
    width: 500px;
    font-weight: bolder;
} 





















/*.hide {
    display:none;
}
*/
