/* universal colors */
:root {
    --green: #A4C888; 
    --savebtn: #A4B2E3;
    --newbtn: #88B8C8;

}

/* places links to other HTMLs to right side of nav bar */
nav {
    text-align: right;
    margin-right: 20px;
}

/* grabs any a tags under the nav bar */
nav > a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

/* change the background for main page and set it to cover and no repeat */
body{
    background-image: url(../imgs/background-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 58px;
}

/* setting button size and styling */
button {
    width: 100%;
    border-radius: 15px;
    padding: 0;
}

/* user input text color styling */
input[type = text] {
    background-color: #C7BEBE;
    width: 100%;
    font-weight: bolder;
} 

/* sizing and styling for images */
img {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;
}

header {
    margin-bottom: 90px;
}

#food-title {
    font-size: 30px; 
    font-family: 'Inter' sans-serif;
    font-style: italic;
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 50px;
    inline-size: 300px;
    overflow-wrap: break-word
}

#error-msg {
    color: red;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#drink-title {
    font-size: 30px;
    font-family: 'Inter' sans-serif;
    font-style: italic; 
    display: inline-block;
    width: 300px;
    height: 100px;
    padding: 50px;
    inline-size: 300px;
    overflow-wrap: break-word
}
/* grabs submit button for styling */
.green-btn {
    background-color: var(--green);  
    justify-content: center;  
    font-size: 16px;
    font-weight: 800;
}

/* grabs save button for styling */
.hide-savebtn {
    background-color: var(--savebtn);
    font-size: 16px;
    font-weight: 800;
}

/* grabs new button for styling */
.newbtn {
    background-color: var(--newbtn);
    font-size: 16px;
    font-weight: 800;
}


.input-title {
    font-weight: 700;
}


/* setting for words in header */
.wine .dine {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* separate styling for 'and' */
.and {
    font-family: 'Inter' sans-serif;
    font-style: italic;
    font-weight: .5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* finderrz in separate div to push onto separate line */
.finderz {
    font-family: 'Inter' sans-serif;
    font-style: italic;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 200px;
    margin-top: 10px;
    letter-spacing: 1px;
}

/* aligns header in center */
.title {
    text-align: center;
}

.hide {
    display: none;
}


/* hides the overflow from the main user input area */
.main { 
    overflow: hidden;
    width: 444px;
    padding-left: 20px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 15%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
