:root {
    --green: #A4C888; 
    --savebtn: #A4B2E3;
    --newbtn: #88B8C8;

}

.green-btn {
    background-color: var(--green);    
}

.savebtn {
    background-color: var(--savebtn);
}

.newbtn {
    background-color: var(--newbtn);
}

button {
    width: 444px;
    border-radius: 15px;
}

input[type = text] {

    background-color: #C7BEBE;
    width: 500px;
    font-weight: bolder;
} 

.wine .dine {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.and {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 1;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.finderz {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 70rem;
}

.title {
    margin-left: 50rem;
}

/* .hide {
    display:none;
} */

.main {
    overflow: hidden;
    width: 444px;
}

